.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-spacebetween{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}
.mx-2{
    margin-right: 12px;
    margin-left: 12px;
}
.flexdireccol{
    flex-direction: column;
}
.m-auto{
    margin: auto;
}

.grid{
    display: grid;
}

.grid-col{
    grid-template-columns: repeat(8,1fr);
}

.scroll{
    width: auto;
    overflow-x: auto;
}